@charset "UTF-8";
    
#container{width: 100%; margin-top:105px;}
#container .contInner{width:1100px; height: 170px; margin: 0 auto; position: relative; background-image: url(../../image/contents%20bg.jpg);}

#container .contInner .titleArea{width: 800px; height: 20px; ;color: #fff; float: right;}
#container .contInner .titleArea .lineMap{float: right; margin-right: 10px; font-size: 13px; margin-top: 10px;}
#container .contInner .titleArea .lineMap span{}
#container .contInner .titleArea .lineMap strong{color:#ccc;}

#container .navInner{width: 100%; background-color: #f6f5ef; }
#container .navInner .topNav{width: 1100px; height: 50px; margin: 0 auto;}
#container .navInner .topNav ul{float: left; margin-left: 270px;}
#container .navInner .topNav ul li{float: left; margin-left: 50px; margin-top: 12px;}
#container .navInner .topNav ul li a{display: block;}

#container .navInner .topNav ul li a:hover{color: #e60013;}
#container .navInner .topNav ul .menu1{}
#container .navInner .topNav ul .menu2{}
#container .navInner .topNav ul .menu3{}

/*history contents*/
#contents{width: 1100px; margin: 0 auto;}

#contents .bgbox1{width: 830px; height: 220px; margin-top: 30px; border-bottom: 2px solid #f6f5ef; margin-left: 150px;}
#contents .bgbox1 .leftPhoto{float: left; width: 420px; height: 220px;}
#contents .bgbox1 .leftPhoto img{width: 240px; height: 180px;}
#contents .bgbox1 .rightHistory{float: left; width: 410px; height: 220px;}
#contents .bgbox1 .rightHistory p{display: block; font-size: 13px;}
#contents .bgbox1 .rightHistory p span{display: block;}
#contents .bgbox1 .rightHistory p .year{display: block; font-size:17px; font-weight: 300;text-indent:-10px; text-align:center; letter-spacing: 10px; line-height: 30px;}

#contents .bgbox2{width: 830px; height: 220px; margin-top: 30px;border-bottom: 2px solid #f6f5ef;margin-left: 150px;}
#contents .bgbox2 .leftHistory{}
#contents .bgbox4 .rightPhoto{float: left; width: 420px; height: 220px;}
#contents .bgbox2 .rightPhoto img{}
#contents .bgbox2 .leftHistory{float: left; width: 410px; height: 220px;}
#contents .bgbox2 .leftHistory p{display: block; font-size: 13px;}
#contents .bgbox2 .leftHistory p span{display: block;}
#contents .bgbox2 .leftHistory p .year{display: block;font-size:17px; font-weight: 300;text-indent:-10px; text-align: left; letter-spacing: 10px; line-height: 30px;}

#contents .bgbox3{width: 830px; height: 220px;margin-top: 30px;border-bottom: 2px solid #f6f5ef;margin-left: 150px;}
#contents .bgbox3 .leftPhoto{float: left; width: 420px; height: 220px}
#contents .bgbox3 .leftPhoto img{}
#contents .bgbox3 .rightHistory{float: left; width: 410px; height: 220px;}
#contents .bgbox3 .rightHistory p{display: block; font-size: 13px;}
#contents .bgbox3 .rightHistory p span{display: block;}
#contents .bgbox3 .rightHistory p .year{font-size:17px; font-weight: 300;display: block;text-indent:-10px; text-align: center; letter-spacing: 10px; line-height: 30px;}

#contents .bgbox4{width: 830px; height: 220px;margin-top: 30px;border-bottom: 2px solid #f6f5ef;margin-left: 150px;}
#contents .bgbox4 .leftHistory{float: left;}
#contents .bgbox4 .rightPhoto{float: left; width: 420px; height: 220px;}
#contents .bgbox4 .rightPhoto img{}
#contents .bgbox4 .leftHistory{float: left; width: 410px; height: 220px;}
#contents .bgbox4 .leftHistory p{display: block; font-size: 13px;}
#contents .bgbox4 .leftHistory p span{display: block;}
#contents .bgbox4 .leftHistory p .year{display: block;font-size:17px; font-weight: 300;text-indent:-10px; text-align: center; letter-spacing: 10px; line-height: 30px;}


#contents .bgbox5{width: 830px; height: 220px;margin-top: 30px;border-bottom: 2px solid #f6f5ef;margin-left: 150px;}
#contents .bgbox5 .leftPhoto{float: left; width: 420px; height: 220px}
#contents .bgbox5 .leftPhoto img{}
#contents .bgbox5 .rightHistory{float: left; width: 410px; height: 220px;}
#contents .bgbox5 .rightHistory p{display: block; font-size: 13px;}
#contents .bgbox5 .rightHistory p span{text-indent: 10px; display: block;}
#contents .bgbox5 .rightHistory p .year{display: block;font-size:17px; font-weight: 300;text-indent:-10px; text-align: center; letter-spacing: 10px; line-height: 30px;}